.offers img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  display: block;
}

.offers-container .offers-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}

@media (width >= 900px) {
  .offers-container .offers-wrapper {
    padding: 0 32px;
  }
}
