footer {
  background-color: var(--brand-color);
  color: white;
  font-size: var(--body-font-size-s);
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
}

footer .footer .section > .default-content-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
}

footer .footer p {
  margin: 0 0 8px;
}

footer .footer p strong {
  font-size: var(--body-font-size-xs);
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

footer .footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer .footer ul li {
  padding: 4px 0;
}

footer .footer a:any-link {
  color: white;
  text-decoration: none;
  font-weight: 400;
}

footer .footer a:hover {
  text-decoration: underline;
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 60px 32px 40px;
  }

  footer .footer .section > .default-content-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
  }
}
